.App {
  text-align: center;
}
a{
  margin: 6px;
  border-style: groove;
  background-color: burlywood;
}
.App-header{
  font-size: 30px;
  background-color: aquamarine;
  margin: 24px;
}

label{
  margin: 9px;
  font-weight: bold;
}

dt{
  margin-bottom: 9px;
  margin-top: 17px;
}